aos002/resource/service/service_definition.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT Services (reg | control)*>
<!ELEMENT reg EMPTY>
<!ELEMENT control (depend*,jsclass?)>
<!ELEMENT depend EMPTY>
<!ELEMENT jsclass EMPTY>

<!ATTLIST Services>
<!ATTLIST reg
	on CDATA #IMPLIED	
	class CDATA #REQUIRED
    attr CDATA #IMPLIED
    desp CDATA #IMPLIED
>
<!ATTLIST control
	class CDATA #REQUIRED
    sign CDATA #IMPLIED
    desp CDATA #IMPLIED
>
<!ATTLIST depend
    class CDATA #REQUIRED 
>
<!ATTLIST jsclass
    name CDATA #REQUIRED 
>	

